

.lg-label-icon {
    color: $lg-labelbar-icon-color;
    cursor: pointer;
    font-size: 24px;
    height: 60px;
    line-height: 27px;
    padding: 10px 30px;
    text-align: center;
    width: 50px;
    opacity: 0.5;
    pointer-events: auto;
    text-decoration: none !important;
    outline: medium none;
    &:hover {
        color: $lg-toolbar-icon-hover-color;
    }
}


.lg-label-yesno-selected  {
    @extend .lg-label-icon;
    opacity: 1;
    pointer-events: none;
    background-color: $lg-label-yesno-selected-bg;
    color: $lg-label-selected-color;
}

// yes or no buttons
.lg-labels-yesno-group {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 10px;
    margin-top: 50px
}

.lg-label-yes {
    @extend .lg-label-icon;
    &:after {
        content: "正常";
    }
}

.lg-label-no {
    @extend .lg-label-icon;
    &:after {
        content: "抑郁";
    }
}

// parts buttons
.lg-labels-parts-group {
    width: 100%;
    height: 100%;
    top: 80px;
    text-align: center;
    padding: 10px;
}

.lg-label-part-icon {
    @extend .lg-label-icon;
    width: 100%;
    height: 70px;
    display: inline-block;
    line-height:70px;
}


.lg-label-parts-selected  {
    @extend .lg-label-part-icon;
    opacity: 1;
    background-color: $lg-label-parts-selected-bg;
    color: $lg-label-selected-color;
}

.lg-label-forehead {
    @extend .lg-label-part-icon;
    &:after {
        content: "额头";
    }
}

.lg-label-eyes {
    @extend .lg-label-part-icon;
    &:after {
        content: "双目";
    }
}

.lg-label-mouth {
    @extend .lg-label-part-icon;
    &:after {
        content: "嘴巴";
    }
}

.lg-label-cheek {
    @extend .lg-label-part-icon;
    &:after {
        content: "双颊";
    }
}
